
* {
    box-sizing: border-box;
    color:white;
}

html{
    height: 100vh;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: grey;
}
header{
    display: flex;
    background-color: #585858;
    height: 20%;
    width: 100%;
  
}
#buscador{
    height:100%;
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: black;
    height:30px;
    margin:15px;

}
.introducirBusqueda{
    color: black;
    height: 30px;
    width: 400px;
    padding: 15px;
}
.caratula{
    height:150px;
    width: 150px;
    border-radius:15%;
}
#tituloCabecera{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
main{
    height: 70%;
    width: 100%;
    display: flex;
}
    

#listaReproduccion{
    width:50%;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:#2E2E2E;

    }
.arrastraCancion{
    display:flex;
    flex-direction: column;
    margin:15px;
}
iframe{
    height:200px;
    width:80%;
    margin:20px;
}

#reproductor{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.sueltaCancion{
    margin: 15px;
}

footer{
   
    border-width: 0.15px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 100%;
}

.pie{
    border-color:black;
    height:100%;
    width: 100%;
    display: flex;
    font-size: 20px;
}
.datosPie{
    margin:50px;
}



