html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    margin:0;
    
}
* {
    box-sizing: border-box;
    color:white;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
}
header{
    display: flex;
    background-color: silver;
    height: 20%;
    width: 100%;
  
}
#buscador{
    height:100%;
    width: 50%;
    display:flex;

    justify-content: center;
    align-items: center;
    
}
#contenedorBuscador{
    background-color:black;
    height:90%;
    width: 95%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
button{
    background-color: silver;
    height:60px;
    width: 20%;
    margin-left:15px;
    border-radius:30px;
    font-size: 18px;
    font-weight: bold;
    color: black;

}
.introducirBusqueda{
    color: black;
    height: 60px;
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
}
.caratula{
    height:150px;
    width: 150px;
    border-radius:10%;
    margin:5px;
}
#contenedorTitulo{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#tituloCabecera{
    height:90%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px grey;
    border-radius: 10px;

}
main{
    height: 70%;
    width: 100%;
    display: flex;
}
    

#listaReproduccion{
    width:50%;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:#2E2E2E;
    border-radius: 10px;
    margin:10px;

    }
.arrastraCancion{
    display:flex;
    /* flex-direction: column; */
    margin:15px;
    background-color: silver;
    border-radius:20px;
}
iframe{
    height:200px;
    width:80%;
    margin:20px;
    background-color:black;
}

#reproductor{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.sueltaCancion{
    margin: 15px;
}

footer{
   
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.pie{
    border-color:black;
    height:100%;
    width: 100%;
    display: flex;
    font-size: 20px;
    margin-bottom:40px;
}
.datosPie{
    margin:50px;
}

.datosCancion{
    color: black;
    font-weight: bold;
    margin: 20px;
}




